/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Basic reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Local variables */
:root {
    /* Color Pallate */
    --primary-color: #0A3981;
    --secondary-color: #E38E49;
    --neutral-color: #E7EBF2;
    --white-color: #FEFDFD;
    --black-color: #030B0D;

    /* Fonts */
    --headings: 'Poppins', sans-serif;
    --paragraph: 'Lora', serif;
}

/* Local styles start */
/* Font style start */
h1, h2, h3 {
    font-family: var(--headings);
    line-height: 1.26;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--black-color);
}
h1 span {
    color: var(--primary-color);
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
}
.blue-header {
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.26;
    color: var(--black-color);
    margin-block: 1.5rem;
}
/* Font style end */

/* Button style start */
.primary-btn, .secondary-btn {
    cursor: pointer;
    font-family: var(--paragraph);
    font-size: 1rem;
    font-weight: 700;
    border: solid 2px var(--primary-color);
    border-radius: 2.5rem;
    padding: 1.25rem 3.125rem;
    transition: all 0.25s;
    margin-inline: 1rem;
}

.primary-btn {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.secondary-btn {
    color: var(--primary-color);
    background-color: transparent;
}

.primary-btn:hover, .secondary-btn:hover {
    transform: scale(1.1);
}
/* Button style end */

/* Default wrappers style start*/
.header-wrapper, .wrapper {
    max-inline-size: 1440px;
    inline-size: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    justify-content: center;
}
/* Default wrappers style end*/

/* Header style start */
header {
    block-size: 12vh;
    inline-size: 100vw;
    background-color: var(--neutral-color);
    display: flex;
    align-items: center;
}

.logo {
    color: var(--primary-color);
}

.primary-nav {
    display: flex;
    gap: 2.15rem;
    align-items: center;
}

.primary-nav ul {
    list-style: none;
    display: flex;
    gap: 2.15rem;
    padding: 0;
    margin: 0;
}

.primary-nav button {
    margin: 0;
}

.primary-nav a {
    text-decoration: none;
    font-family: var(--paragraph);
    font-weight: 700;
    color: var(--primary-color);
}
/* Header style end */

/* Hero header style start */
.hero-header {
    block-size: 65vh;
    background-color: var(--neutral-color);
    display: flex;
    text-align: center;
}

.hero-header-container {
    inline-size: 48%;
}

.btn-set {
    margin-block: 2rem;
}
/* Hero header style end */

/* About section start */
.about {
    background-color: var(--white-color);
    block-size: 70vh;
    display: flex;
}

.about .header-wrapper {
    justify-content: space-around;
}

.pp {
    inline-size: 35%;
    block-size: 90%;
    object-fit: cover;
    object-position: center;
}

.about-content {
    inline-size: 55%;
    padding-inline: 1rem;
}

.about-content button {
    margin: 0;
}
/* About section end */

/* Skills section start */
.skills {
    block-size: 40vh;
    background-color: var(--neutral-color);
    display: flex;
}

/* Left side */
.left-side {
    inline-size: 40%;
    margin-inline: auto;
    
}

.left-side button{
    margin: 0;
}

/* Right side */
.right-side{
    inline-size: 50%;
    margin-inline: auto;
}

.skill-bar {
    margin-block-end: 1.56rem;
}

.skill-bar:last-child {
    margin: 0;
}

.skill-bar label {
    font-family: var(--paragraph);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    display: block;
}

.skill-bar progress {
    -webkit-appearance: none;
    appearance: none;
    inline-size: 100%;
    margin-block-start: 0.6rem;
    display: inline-block;
}

.skill-bar progress::-webkit-progress-bar {
    border-radius: 0.6rem;
    background-color: var(--white-color);
}

.skill-bar progress::-webkit-progress-value {
    border-radius: 0.6rem;
    background-color: var(--secondary-color);
}
/* Skills section end */










/* Temp border fo visual */
.header-wrapper {
    border: 2px red dotted;
}
.wrapper {
    border: 2px rgb(121, 0, 0) dotted;
}
.hero-header, .about {
    border: 2px teal dotted;
}

.btn-set {
    border: 2px lime dotted;
}
.about-content {
    border: 2px lime dotted;
}
.left-side {
    border: 2px red dotted;
}
.right-side {
    border: 2px aquamarine dotted;
}
.skill-bar {
    border: 2px red dotted;
}